<ul>
  <% @movies.each do |movie| %>
    <li>
    <strong><%= movie.name %></strong>
    rating: <%= movie.rating %>
    total gross: <%= number_to_currency(movie.total_gross, precision: 0) %>
    </li>
  <% end %>
</ul>